.layout {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Full height of viewport */
  }
  .header {
    background-color: rgb(56, 39, 154);
    color: white;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 1000; /* Ensure header stays on top */
    height: 50px; /* Set header height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto; 
    width: 100%;
  }
  
  .header-title {
    margin: 0 auto;
    text-align: center;
  }
  
  .logout-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white; /* Add border for better visibility */
    cursor: pointer;
    font-size: 16px;
    padding: 8px 16px;
    transition: background-color 0.3s, border-color 0.3s, color 0.3s;
  }
  
  .header-button:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .content {
    display: flex;
    flex: 1;
  }
  
  .sidebar {
    background-color: rgb(56, 39, 154);
    color: white;
    width: 200px;
    transition: transform 0.3s ease-in-out;
  }
  
  .sidebar-nav {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .sidebar-nav li {
    margin-bottom: 10px;
  }
  
  .sidebar-nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
  }
  
  .sidebar-nav li a:hover {
    background-color: rgb(19, 29, 88);
  }
  
  .outlet {
    flex: 1;
    padding: 20px;
  }
  
  .sidebar-toggle {
    display: none;
    background-color: rgb(56, 39, 154);
    color: white;
    border: none;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  @media (max-width: 1000px) {
    .content {
      flex-direction: column;
    }
  
    .sidebar {
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      transform: translateX(-100%);
      z-index: 1000;

      padding-top: 10%;
      
    }
  
    .content.sidebar-open .sidebar {
      transform: translateX(0);
    }
  
    .sidebar-toggle {
      display: block;
      position: fixed;
      top: 10px;
      left: 10px;
      z-index: 1001;
    }
  
    .outlet {
      margin-top: 50px; /* To account for the toggle button */
    }
    
    .close-sidebar {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      cursor: pointer;
    }

    .header-title{
      font-size: 28px;
    }
  }

  @media (max-width:768px){
    .header-title{
      font-size: 28px;
    }
    .header{
      padding-left: 10%;
    }

    
    
  }

  .close-sidebar {
    display: none;
  }
  
